.title {
    margin: 0;
    font-weight: normal;
}

.description {
    color: #aaa;
}

.textField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.cartBtn{
    background-color: green;
    border:1px solid green;
  }
.cartBtn:hover{
    background-color: transparent;
    border-color:#fff;
    color:#fff
  }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #222;
    color: #fff;
    padding: 50px 10px;
}

.imgField img {
    max-width: 100%;
    max-height: 2200px;
    display: block;
    margin: 0 auto;
}

.wrapper:nth-child(1) {
    order: 2;
}

@media screen and (max-width: 768px) {
    .wrapper:nth-child(1) {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {


    .wrapper:nth-child(1) {
        order: 0;
    }

    .imgField img {
        max-width: 100%;
    }
}

.btns {
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* .btns button {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.btns button:hover {
    background-color: #aaa;
    color: white;
} */